{
	"presets": ["babel-preset-expo", "env", "react", "react-native"],
	"env": {
		"development": {
			"plugins": ["transform-react-jsx-source"]
		},
		"test": {
			"presets": [["env"], "react", "react-native"]
		}
	}
}
